@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");

.footer {
  position: absolute;
  /* position: fixed; */
  bottom: 0;
  height: 8vh;
  width: 100vw;
  background: lightgray;
}

.icones {
  font-size: 2.5rem;
  color: gray;
  margin: 10px;
  cursor: pointer;
}

.icones:hover {
  color: darkgray;
}

.title {
  font-family: "Baskervville";
}
