@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");

.footer {
	position: absolute;
	bottom: 0;
	height: 8vh;
	width: 100vw;
	background: lightgray;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 2vh;
	color: lightgray;
	border-top: 1px solid var(--main-color);
}

.icones {
	font-size: 2.5rem;
	color: gray;
	margin: 10px;
	cursor: pointer;
}

.icones:hover {
	color: darkgray;
}

.name {
	font-family: "Baskervville";
	/* position: relative; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	margin-left: 45%;
}

@media (max-width: 768px) {
	.name {
		position: relative;
		left: -20%;
	}
}
