/* MAIN */
.mainDiv {
	padding-top: 1.5rem;
}
/*  GRID */
.gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1.5rem;
	justify-content: center;
	/* min-height: 65%; */
	width: 80%;
	margin: auto;
	margin-border: -8vh;
	overflowx: hidden;
	top: 35vh;
}
.gallery:after {
	content: "";
	display: block;
	height: 8vh;
}
@media (max-width: 325px) {
	.gallery {
		top: 45vh;
	}
}

@media (max-width: 767px) {
	.gallery {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 768px) and (max-width: 850px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
		left: 30px;
	}
}
.inputAll {
	position: fixed;
}

/* IMAGE */
.photo {
	border-radius: 8px;
}

.photo:hover {
	box-shadow: 0 3px 8px lightgray;
}

/* INPUT RADIO */

.input[type="radio"] {
	appearance: none;
	position: relative;
	margin-left: 0.25rem;
	top: 35vh;

	/* margin: 0.5rem; */
	background: rgba(0, 0, 0, 0.4);
	font: inherit;
	color: lightgray;
	width: 1rem;
	height: 1rem;
	border: 1px solid lightgray;
	border-radius: 50%;
	/* transform: translateY(-0.075em); */
	transition: 0.5s;
}

.input[type="radio"]:checked {
	background: #c920a8;
	transform: scale(0.7);
	border: none;
	box-shadow: 2px 5px 15px #c920a8;
}
.input[type="radio"]:checked::before {
	transform: scale(1);
}

.input[type="radio"]:hover {
	box-shadow: 2px 5px 15px #c920a8;
}
/* Responsive input radio */

@media (max-width: 767px) {
	.input[type="radio"] {
		left: 150%;
		top: 6vh;
	}
	.input[type="radio"]:hover {
		box-shadow: 0 0 0 transparent;
	}
}
@media (min-width: 768px) and (max-width: 850px) {
	.input[type="radio"] {
		top: 10vh;
		left: 250%;
	}
}

/* Label */
.label {
	position: relative;
	top: 35vh;
	cursor: pointer;
	/* left: 50%; */
	margin-left: 0.5rem;
}
.label:after {
	display: block;
	content: "";
	border-bottom: solid 2px #c920a8;
	border-radius: 25px;
	transform: scaleX(0);
	transition: transform 0.6s ease-in-out;
}

.label:hover:after {
	transform: scaleX(0.5);
}
/* Responsive label */
@media (max-width: 767px) {
	.label {
		top: 5.5vh;
		left: 150%;
	}
}
@media (min-width: 768px) and (max-width: 850px) {
	.label {
		top: 10vh;
		left: 250%;
	}
}
@media (min-width: 1024px) and (max-width: 1280px) {
	.label {
	}
}
