@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}
body::-webkit-scrollbar {
	width: 20px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
	/* background: #c920a8; color of the scroll area */
	border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
	background-color: #c920a8; /* color of the tracking thumb */
	height: 60px;
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 2px solid #fff; /* creates padding around scroll thumb */
	opacity: 0.1;
}

a {
	/* color: inherit; */
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cursor {
	top: 0;
	left: 0;
	position: absolute;
	width: 60px;
	height: 60px;
	border: 1.5px solid #c920a8;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 300ms;
	transition-timing-function: ease-out;
	will-change: width, height, transform, border;
	z-index: 999;
	mix-blend-mode: overlay;
}

.cursorBis {
	top: 0;
	left: 0;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #c920a8;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition-timing-function: ease-out;
	will-change: width, height, transform, border;
	z-index: 999;
}
@media (max-width: 1080px) {
	.cursor,
	.cursorBis {
		display: none;
	}
}

@keyframes cursorAnim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(5);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
.expand {
	animation: cursorAnim 0.5s forwards;
}

/* BUTTON TO UP */

.top-to-btn {
	position: relative;
}
.icon-position {
	position: fixed;
	bottom: 40px;
	right: 25px;
	z-index: 500;
}

.icon-style {
	background-color: #c920a8;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	animation: movebtn 3s ease-in-out infinite;
	transition: all 0.5s ease-in-out;
}

.icon-style:hover {
	animation: none;
	background-color: #fff;
	color: #c920a8;
	border: 2px solid #c920a8;
}
@keyframes movebtn {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(20px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
