@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");

.container {
	/* padding: 0 2rem; */
	/* position: relative; */
	height: 100vh;
	width: 100vw;
	background-image: url(/camera.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: lightgray;
}

.main {
	width: 65%;
	height: 50%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(
		0,
		0,
		0,
		0.6
	); /* Black w/opacity/see-through */
	border-radius: 15px;
	box-shadow: 0 3px 8px lightgray;
}
.li {
	margin: 0 1.2rem 0 1.2rem;
	padding: 0.4rem;
	border-radius: 8px 8px 0 0;
}
.li:hover {
	/* color: rgb(51 65 85); */
	border-bottom: 2px solid lightgray;
	transition: 0.5s;
	background-color: rgba(
		0,
		0,
		0,
		0.6
	); /* Black w/opacity/see-through */
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
	color: lightgray;
	font-family: "Baskervville", "Marck Script";
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.main {
		width: 85%;
		top: 50%;
	}
	.title {
		font-size: 2rem;
	}
}

@media (max-width: 978px) {
	.main {
		width: 70%;
	}
}
.slideWrap {
	min-height: 70vh;
	width: 100%;
	display: flex;
	padding: 80px;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	/* @media (max-width: 760px) and (orientation: landscape) {
		min: height 110vh;
		padding: 70px 20px;
	}

	@media (max-width: 760px) and (orientation: portrait) {
		min: height 80vh;
		padding: 70px 20px;
	} */
}
.swiper {
	width: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 60vh;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}
